body {
    background: rgb(67, 2, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    

}
input {
    border: none;
}
input,
button {
   padding: 10px;
   width: -webkit-fill-available;
}
button {
    margin-bottom: 10px;
}

.form-field {
    margin-bottom: 10px;
}

label{
    color: rgb(255, 255, 255)
}